#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_fr.h"

#define DEFAULT 0

/ {
    conditional_layers {
    };
    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "colemak";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp FR_Q      &kp FR_W      &kp FR_F      &kp FR_P      &kp FR_B          &kp FR_J      &kp FR_L      &kp FR_U      &kp FR_Y      &kp APOS   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp FR_A      &kp FR_R      &kp FR_S      &kp FR_T      &kp FR_G          &kp FR_M      &kp FR_N      &kp FR_E      &kp FR_I      &kp FR_O
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp FR_Z      &kp FR_X      &kp FR_C      &kp FR_D      &kp FR_V          &kp FR_K      &kp FR_H      &kp COMMA      &kp DOT      &kp SLASH
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &kp ESC       &kp TAB      &kp SPACE          &kp RET      &kp BACKSPACE     &kp COMMA
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
